# Variables de entorno para el backend
PORT=5000
EMAIL_USER=tu-correo@gmail.com
EMAIL_PASS=tu-contraseña-de-aplicacion

# Variables de entorno para el frontend (producción)
# REACT_APP_API_URL=https://tu-backend-url.com 